ion-toolbar ion-title {
    font-size: 200%;
    font-family: serif;
}

ion-list.chore-list {
    border-radius: 20px;

    ion-list-header ion-label {
        font-size: 170%;
        font-family: serif;
    }
}